@use "../../styles/variables.scss" as v;

.HomeConnected {

  &__content {
    margin: 0 1.5rem;
  }


  &__amount {
    background-color: v.$cardgrey;
    padding: 2rem;
    border-radius: v.$gutter;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 25rem;

    &__bold {
      font-weight: 600;
      font-size: 1.1rem;
    }

    &__total, &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  &__category-remain {

    &__category {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      align-items: center;

      &__title {
        display: flex;
        flex-direction: column;
        word-break: break-word;
        white-space: normal;
      }

      &__budget {
        font-size: 0.8rem;
        color: v.$grey;
        margin-top: 0.5rem;
      }
    }


  }

  &__nav {
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .HomeConnected {

    &__amount {
      max-width: 25rem;
      margin: auto;
    }
  }
}