@use "../../styles/variables.scss" as v;

.home-connect {
  display: flex;
  flex-direction: column;
  height: 80%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 50%;
    margin-top: 2rem;
  }

  .button.button {
    width: 10rem;
    height: 2.5rem;
  }

  &__demo {
    background-color: v.$cardgrey;
    padding: 1rem 0;
    border: solid v.$lightergrey 1px;
  }

  &__demo p {
    margin: 0 2rem 0 2rem;
    font-size: 0.8rem;
    text-align: center;
  }
}