
.home-connect {
  display: flex;
  flex-direction: column;
  height: 80%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 8rem;
  }

  .button.button {
    width: 10rem;
    height: 2.5rem;
  }
}