$body: #eef3f6;
$main: #1E1E1E;
$darkblue: #03256C;
$mediumblue: #0A5C6B;
$lightmediumblue: #75b3be;
$grey: rgb(76, 90, 90);
$cardgrey : #e3e8ea;;
$lighterblue: #9ba5a6;
$lightblue: #B9C1CE;
$lightgray: #d1d5db;
$lightergrey: rgb(213, 221, 221);
$softhover : rgba(0, 0, 0, 0.02);
$gutter: 1em;
