$body: #eef3f6;
$main: #1E1E1E;
$darkblue: #03256C;
$mediumblue: #0A5C6B;
$lightmediumblue: #75b3be;
$grey: rgb(86, 94, 94);
$cardgrey: #e3e8ea;
;
$lighterblue: #9ba5a6;
$lightblue: #B9C1CE;
$lightgray: rgb(179, 188, 188);
$lightergrey: rgb(213, 221, 221);
$gutter: 1em;
