@use "./variables" as v;

@font-face {
  font-family: 'Merge One Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Merge One Regular'), url('/fonts/MergeOne-Regular.woff') format('woff');
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body, #root {
  height: 100dvh;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  background-color: v.$body;
  font-family: 'Manrope', 'sans-serif';
  -webkit-text-size-adjust: 100%;
  overscroll-behavior-x: none;
}

.button.button, .ant-modal-content Button {
  background: #03256C;
  border: solid 1px #B9C1CE;
  color: #fff;
}

.button.button:hover, .ant-modal-content Button:hover {
  background: v.$lightmediumblue !important;
  border: solid 1px #B9C1CE !important;
  color: #fff !important;
}


.ant-message {
  top: 10rem !important;
}

.h1 {
  font-size: 1.5rem;
  margin: 1.5rem 1.5rem 2rem 1.5rem;
  font-family: 'Merge One Regular';
  color: v.$darkblue;
}