.tendances {
  &__content {
    margin: 2.5rem 1.5rem;
    max-width: 33rem;

    &__selections {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      margin: 2rem 0.5rem;
      font-size: 1.2rem;
    }
  }
}