.tendances {
  &__content {
    margin: 2.5rem 1.5rem;
    max-width: 33rem;

    &__selections {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      margin: 2rem 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .custom-range-picker-dropdown {
    left: 0 !important;
    right: 0 !important;
    width: 100vw !important;
    max-width: 100vw !important;
  }
}