@use "../../styles/style.scss" as v;

.ConfirmSignIn {

  height: 80%;

  &__content {
    height: 10rem;
    margin-top: 2rem;
  }

  & p {
    margin: 0 1.5rem;
  }

  &__link {
    margin-top: 2rem;
    text-align: center;
  }
}
