.gestion {
  &__modules {
    margin: 0 1.5rem;

    &__item {
      margin-bottom: 1rem;

      &__title {
        display: flex;
        gap: 1rem;
        align-items: first baseline;
        margin-bottom: 0.5rem;
      }

      &__content {

        &--expense, &--add-category, &--delete-category, &--edit-category {
          max-width: 20rem;
        }
      }
    }
  }
}


